{{!-- This displays a formatted table of Customer data --}}
<div class="ms-5">
  <table style="width: auto;" class="table table-bordered table-striped table-condensed">
    <caption>{{ tblCaption }}</caption>
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col" class="text-center">Company Name</th>
        <th scope="col">Contact Name</th>
        <th scope="col" class="text-center">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col" class="text-center">Email Address</th>
      </tr>
    </thead>
    <tbody>
      {{#each rendered as |customer| }}
      <tr>
        <th scope="row" class="text-center">{{customer.customer_id}}</th>
        <td class="text-center">{{customer.company_name}}</td>
        <td class="text-center">{{customer.contact_name}}</td>
        <td class="text-center">{{customer.address}}</td>
        <td class="text-center">{{customer.phone_number}}</td>
        <td class="text-center">{{customer.email_address}}</td>
      </tr>
      {{/each}}
      </tbody>
  </table>
</div>
